.filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.filter strong {
    margin: 20px;
    font-size: 4rem;
}

.filter select{
    margin: 20px;
    padding: 10px;
}